<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend courses workshop weeks 2-3</title>
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
<div class="header">
    <h1 class="header_title">John Watson</h1>
    <h2 class="header_subtitle">Graphic Designer</h2>
    <ul class="header_contacts">
        <li class="contacts_item">
            <a class="contacts_link" href="www.google.com">Phonenumber</a>
        </li>
        <li class="contacts_item">
            <a class="contacts_link" href="mailto:email@name.com">email@name.com</a>
        </li>
        <li class="contacts_item">
            <a class="contacts_link" href="www.google.com">www.yoururl.de</a>
        </li>
    </ul>
</div>
<div class="main">
    <div class="main_left">
        <img class="main_avatar" src="../images/avatar.png" alt="">
        <div class="personal-info">
            <h3 class="personal-info_title">About me</h3>
            <div class="personal-info_content">
                <p class="personal-info_text">
                    I’m John <span class="personal-info_text_bold">Watson</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                </p>
            </div>
        </div>
    </div>
    <div class="main_right">
        <div class="personal-info">
            <h3 class="personal-info_title">Experience</h3>  
            <ul class="experience">
                <li>
                    <div class="experience_date">01.2011 - 08.2017</div>
                    <div class="experience_position">Junior Graphic Designer</div>
                    <div class="experience_company">
                        <span class="experience_company_border">Company</span> 
                        <a class="experience_company_link" href="www.vk.com">www.company.com</a>
                    </div>
                    <p class="experience_description">
                        <span class="personal-info_text_bold">Description.</span> If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
                    </p>
                </li>
                <li>
                    <div class="experience_date">01.2011 - 08.2017</div>
                    <div class="experience_position">Junior Graphic Designer</div>
                    <div class="experience_company">
                        <span class="experience_company_border">Company</span> 
                        <a class="experience_company_link" href="www.vk.com">www.company.com</a>
                    </div>
                    <p class="experience_description">
                        <span class="personal-info_text_bold">Description.</span> If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>
